<ion-content [fullscreen]="true">

  <ion-header collapse="condense" style="margin-top: 10px">
    <ion-toolbar>
      <ion-title size="large">Le mie preferite</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar
    animated
    [(ngModel)]="searchTerm"
    (ionChange)="filterList()"
    placeholder="Cerca le pizze..."
    debounce="500"
  ></ion-searchbar>

  <ion-list inset="false" *ngFor="let pizza of pizzas">

    <ion-item-sliding>

      <ion-item [routerLink]="''+pizza?.id" detail='false'>
        <ion-thumbnail slot="start">
          <ion-img [src]="urlBase + '/pizza-photos/' + pizza?.photoName"></ion-img>
        </ion-thumbnail>
        <ion-label>{{pizza?.name}}</ion-label>
        <ion-icon *ngIf="pizza?.favorite" (click)="toggleFavorite($event, pizza?.id)" name="heart"></ion-icon>
        <ion-icon *ngIf="!pizza?.favorite" (click)="toggleFavorite($event, pizza?.id)" name="heart-outline"></ion-icon>
      </ion-item>

    </ion-item-sliding>

  </ion-list>

</ion-content>
